<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954003871359-cjn34t8cd39114pdoimd0vtu3g7leqc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954003871359-cjn34t8cd39114pdoimd0vtu3g7leqc1</string>
	<key>API_KEY</key>
	<string>AIzaSyB8jQJjZ56eyCQNjl4n62IMokiOb-Ns1WQ</string>
	<key>GCM_SENDER_ID</key>
	<string>954003871359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sjsugo.SJSUGOApp</string>
	<key>PROJECT_ID</key>
	<string>sjsu-go</string>
	<key>STORAGE_BUCKET</key>
	<string>sjsu-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954003871359:ios:38d7cf2575d27bc6</string>
	<key>DATABASE_URL</key>
	<string>https://sjsu-go.firebaseio.com</string>
</dict>
</plist>